// ---------------------------------------------
// - Main file, route, define, love
// ---------------------------------------------



// Init breakpoints gestion
@require './core/bp/init.bp.styl'
@require './core/import-vars.styl'

// Global in prod
if envGlobal
  @require './core/compilation/prod.styl'


// Global in dev
else if envGlobalStyl
  // App.css
  if stylCompilationNbr == 0
    @require './core/compilation/map-includes.styl'
  // Init.css
  else if stylCompilationNbr == 1
    @require './core/compilation/init.styl'
  // All others css files
  else
    @require './core/compilation/global-multi.styl'
    // TODO


// Local in dev
else
  // App.css
  if stylCompilationNbr == 0
    @require './core/compilation/map-includes.styl'
  // Local component
  else
    @require './core/compilation/local-once.styl'

// Init breakpoints gestion
@require './core/bp/render-in.bp.styl'

// Init breakpoints gestion
@require './core/bp/render-out.bp.styl'


// Final warn
use('./core/lib/console-log.js')

consoleLog('CSS file compiled for : ' + fileName, 'msg', envName)

if stylCompilationNbr is (lastIteration - 1)
  consoleLog('CSS compilation ended!', 'dev', envName)
