// ----------------------------------------------
// -- First import, before components and site
// ----------------------------------------------


// Include reset CSS
@import 'reset.styl'

// Create container
.container
  max-width: toBp('bp.container.max-width')
  margin: 0 auto
  padding-left: toBp('bp.container.padding * l')
  padding-right: toBp('bp.container.padding * l')
