// ---------------------------------------------
// -- Render bpinject for out flow
// ---------------------------------------------

// Current render
bpOutCurrent = 0

// Requirements
@require './core/bp/config.bp.styl'
@require './core/bp/tobp.bp.styl'
@require './core/bp/set-vars-out.bp.styl'



for i in (0..(bpOutNbrFinal - 1))
  bp = setOutVars(i)

  // set vars depend of existance or not
  if bp.typo.font-size
    fs = bp.typo.font-size
  else
    fs = setInVars(0).typo.font-size

  if bp.typo.line
    l = bp.typo.line
  else
    l = setInVars(0).typo.line

  // Check break max
  if bp.break.break-max
    breakMax = 'max-width:' + bp.break.break-max
  else
    breakMax = null

  // Check break max
  if bp.break.break-min
    breakMin = 'min-width:' + bp.break.break-min
  else
    breakMin = null

  //Create final mediaqurie
  if breakMax and breakMin
    breakFinal = '(' + breakMin + ') and (' + breakMax + ')'
  else if breakMax
    breakFinal = '(' + breakMax + ')'
  else
    breakFinal = '(' + breakMin + ')'

  // set final mediaqueries
  @media breakFinal
    s = 0 // Nbr of selectors
    count = 0

    for i in (0..length(toBpDataSelector))

      if toBpDataBp[i] is null or toBpDataBp[i] is bp.prefix
        count = count+1

      if toBpDataValue[i] is not null and toBpDataSelector[i] is not null

        // warn("" + toBpDataSelector[i])

        // If next is same
        if toBpDataSelector[i] is toBpDataSelector[i+1]
          s = s +1

        // If not
        else
          if s is 0
              if toBpDataBp[i] == bp.prefix
                tmpContent = toBpDataValue[i]
                for key, value in tmpContent
                  {key}: convert(value)
          else
            {toBpDataSelector[i]}
              for n in (0..s)
                if toBpDataBp[i - s + n] == bp.prefix
                  tmpContent = toBpDataValue[i - s + n]
                  for key, value in tmpContent
                    {key}: convert(value)

            s = 0
    // warn("" + count + " injections in " + bp.name)
