// ---------------------------------------------
// -- Render bpinject for in flow
// ---------------------------------------------

// Current render
bpInCurrent = 0

// Requirements
@require './core/bp/config.bp.styl'
@require './core/bp/tobp.bp.styl'


for i in (0..(bpInNbrFinal - 1))
  // Set vars
  bp = setInVars(i)
  fs = bp.typo.font-size
  l = bp.typo.line



  if i > 0

    // Check break max
    if bp.break.break-max
      breakMax = 'max-width:' + bp.break.break-max
    else
      breakMax = null

    // Check break max
    if bp.break.break-min
      breakMin = 'min-width:' + bp.break.break-min
    else
      breakMin = null

    //Create final mediaqurie
    if breakMax and breakMin
      breakFinal = '(' + breakMin + ') and (' + breakMax + ')'
    else if breakMax
      breakFinal = '(' + breakMax + ')'
    else
      breakFinal = '(' + breakMin + ')'

    // set final mediaqueries
    @media breakFinal

      // Final render for selected
      s = 0 // Nbr of selectors
      count = 0

      for i in (0..length(toBpDataSelector))

        if toBpDataBp[i] is null or toBpDataBp[i] is bp.prefix
          count = count+1

        if toBpDataValue[i] is not null and toBpDataSelector[i] is not null

          // warn("" + toBpDataSelector[i])

          // If next is same
          if toBpDataSelector[i] is toBpDataSelector[i+1]
            s = s +1

          // If not
          else
            if s is 0
              {toBpDataSelector[i]}
                if toBpDataBp[i] is null
                  {toBpDataProperty[i]} : convert(toBpDataValue[i])

                else
                  if toBpDataBp[i] == bp.prefix
                    tmpContent = toBpDataValue[i]
                    for key, value in tmpContent
                      {key}: convert(value)
            else
              {toBpDataSelector[i]}
                for n in (0..s)
                  if toBpDataBp[i - s + n] is null
                    {toBpDataProperty[i - s + n]} : convert(toBpDataValue[i - s + n])


                  else
                    if toBpDataBp[i - s + n] == bp.prefix
                      tmpContent = toBpDataValue[i - s + n]
                      for key, value in tmpContent
                        {key}: convert(value)

              s = 0
      // warn("" + count + " injections in " + bp.name)
