// ----------------------------------------------
// -- Include maps
// ----------------------------------------------

components = json('./app-components.json', { hash: true })
sites = json('./app-site.json', { hash: true })

if stylCompilationNbr is 0
  @import url('css-includes/init.css');


for key, val in components
  if val is true
    @import url('css-includes/component-' + key + '.css');

for key, val in sites
  if val is true
    @import url('css-includes/site-' + key + '.css');
