// ----------------------------------------------
// -- Prod 
// ----------------------------------------------

@require '../../themes/config.themes.styl'
use('../../core/lib/file-exist.js')

components = json('./app-components.json', { hash: true })
sites = json('./app-site.json', { hash: true })

@require '../../init/init.styl'

for key, val in components
  if val is true
    if !file-exists('../../themes/' + themes[key] + '/' + key + '.config.styl')
      warn('Your theme ``' + themes[key] + '`` for component ``' + key + '`` seem not exist')
      themesFinalName = 'base'
    else
      themesFinalName = themes[key]

    //Import three needs
    @require '../../themes/' + themesFinalName + '/' + key + '.config.styl'
    @require '../../components/' + key + '.styl'
    @require '../../themes/' + themesFinalName + '/' + key + '.overwrite.styl'

for key, val in sites
  if val is true
    @require '../../site/' + key + '.styl'
